@import "tailwindcss";

@theme {
  /* Font */
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);

  /* Colors */
  --color-white: #fff;
  --color-light: #f5f5f5;
  --color-low-priority: #848191;
  --color-primary: #7562e0;
  --color-secondary: #282162;
  --color-dark: #000036;
  --color-body: #1a1a29;
  --color-secondary-bg: #181824;
}

/* Scrollbar */
::-webkit-scrollbar {
  @apply lg:w-3 w-2  bg-dark max-sm:hidden;
}

::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-primary;
}
